aiohttp
aiosignal
altair
annotated-types
anyio
appdirs
async-timeout
attrs
AudioRecorder
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
distro
exceptiongroup
fonttools
frozendict
frozenlist
gitdb
GitPython
gTTS
h11
html5lib
httpcore
httpx
idna
importlib-resources
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
lxml
markdown-it-py
MarkupSafe
matplotlib
mdurl
multidict
multitasking
numpy
openai
packaging
pandas
peewee
pillow
pkgutil-resolve-name
plotly
protobuf
pyarrow
pyaudio
pydantic
pydantic-core
pydeck
pydub
pygments
pyparsing
python-dateutil
pytz
referencing
requests
rich
rpds-py
six
smmap
sniffio
soupsieve
streamlit
streamlit-audiorecorder
tenacity
toml
toolz
tornado
tqdm
typing-extensions
tzdata
urllib3
watchdog
webencodings
yarl
yfinance
zipp
