altair                   
attrs
blinker                   
cachetools   
certifi              
charset-normalizer      
click               
colorama                
contourpy                
cycler                  
fonttools             
gitdb                  
GitPython             
idna                   
importlib-resources   
Jinja2                   
joblib                   
jsonschema        
jsonschema-specifications
kiwisolver              
markdown-it-py     
MarkupSafe          
matplotlib            
mdurl              
numpy                
packaging         
pandas             
pillow          
pip                
pkgutil-resolve-name     
plotly              
protobuf         
pyarrow
pydeck               
pygments             
pyparsing           
python-dateutil         
pytz                    
PyYAML            
referencing          
requests               
rich               
rpds-py            
scikit-learn         
scipy           
setuptools           
six                      
smmap                  
streamline        
streamlit             
streamlit-audiorec       
tenacity          
threadpoolctl      
toml      
toolz           
tornado             
typing-extensions 
tzdata         
urllib3     
watchdog      
zipp                      

# 추가
google-cloud-speech
streamlit_TTS
gtts.lang
