aiohttp
aiosignal
altair
annotated-types
anyio
async-timeout
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cycler
distro
exceptiongroup
fonttools
frozenlist
gitdb
GitPython
google-api-core
google-auth
google-cloud-speech
googleapis-common-protos
grpcio
grpcio-status
gTTS
h11
httpcore
httpx
idna
importlib-resources
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
multidict
numpy
openai
outcome
packaging
pandas
pillow
pkgutil-resolve-name
plotly
proto-plus
protobuf
pyarrow
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic-core
pydeck
pydub
pygments
pyparsing
PySocks
python-dateutil
python-dotenv
pytz
PyYAML
referencing
requests
rich
rpds-py
rsa
scikit-learn
scipy
selenium
six
smmap
sniffio
sortedcontainers
streamline
streamlit
streamlit-audiorec
streamlit-TTS
tenacity
threadpoolctl
toml
toolz
tornado
tqdm
trio
trio-websocket
typing-extensions
tzdata
urllib3
watchdog
webdriver-manager
wsproto
yarl
zipp
